* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFE4B5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    text-align: center;
    padding: 1.2em 0 1.2em 0;
}

.header > a {
    text-decoration: none;
    text-align: center;
    padding-right: 1.5em;
    padding-left: 1em;
}

.header > a:hover{
    text-decoration: dotted;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    font-family: sans-serif;
    border: 2px solid black;
}

.goat {
    margin: 10px;
}

.goat-nedir {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.2rem;
    margin: 0 500px 0 500px;
    border: 3px dashed darkgoldenrod;
    border-radius: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2em;
    padding-top: 1.5em;
    
}


.tra {
    margin: 5.5em;
}

.data-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /*background-color: aqua;*/
    padding: 1.5em;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;   
}

li:not(:last-child) {
    margin-bottom: 1.5em;
}

ul {
    list-style: inside;
    padding: 10px;
    background-color:black;
    border: 7px solid rgba(227, 243, 12, 0.916);    
}


ul:hover, .viki:hover {
    background-color: #FFE4B5;
    border: none;
}
  
ul:not(:empty)::before, .viki:not(:empty)::before {
    content: 'TIKLA';
    font-weight: bold;
    color: wheat;
    position: relative;
    top: 100px;
    left: 48%;
    
}

.viki {
    padding: 10px;
    background-color:black;
    border: 7px solid #dacf32f5;
    margin: 0 25% 0 25%;
    padding: 3.5em;
}
